[submodule "deps/tclap_loc"]
	path = deps/tclap_loc
	url = https://github.com/mirror/tclap.git
[submodule "deps/SystemCore"]
	path = deps/SystemCore
	url = https://github.com/fractal-programming/SystemCore.git
[submodule "deps/LibNaegCommon"]
	path = deps/LibNaegCommon
	url = https://github.com/fractal-programming/LibNaegCommon.git
